
body {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    background-color: #fcf8f2;
    color: #333;
    margin: 0;
}
header {
    text-align: center;
    padding: 40px 20px;
    background: #e7e3dc;
}
header.curved {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}
#main-visual img {
    width: 100%;
    display: block;
    border-radius: 0 0 20px 20px;
}
section {
    padding: 40px;
}
footer {
    background-color: #e7e3dc;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
